/* Reseteo y Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2ecc71;
  --primary-hover: #24a158;
  --secondary: #27ae60;
  --bg: #0d1117;
  --modal-bg: #252525;
  --text: #e9ecef;
  --muted: #a9a9a9;
  --btn-bg: #303030d8;
  --btn-hover: #464646d8;
}

/* Estilos Generales */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg);
  font-family: 'Roboto Mono', monospace;
  color: var(--text);
}

.App,
.container {
  text-align: center;
  width: 100%;
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.title {
  margin-top: -120px;
  font-size: 3.75rem;
  color: var(--primary);
}

.efren {
  font-size: 0.6rem;
  background: var(--primary);
  color: black;
  width: 320px;
  margin: auto;
  border-radius: 2px;
}

/* Botones y Notificaciones */
.button,
.microphone-button,
.commands-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.microphone-button {
  position: absolute;
  top: 50px;
  right: 50px;
  background: var(--primary);
}

.microphone-button:hover {
  background: var(--primary-hover);
}

.commands-button {
  position: absolute;
  top: 100px;
  right: 50px;
  background: var(--btn-bg);
}

.commands-button:hover {
  background: var(--btn-hover);
}

.notification {
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.notification-hidden {
  opacity: 0;
}

/* Círculo Animado */
.circle-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.outer-ring,
.inner-ring {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-ring {
  width: 100%;
  height: 100%;
  border: 3px solid var(--primary);
  animation: rotate 6s linear infinite;
}

.inner-ring {
  width: 80%;
  height: 80%;
  border: 2px dashed var(--secondary);
  animation: pulse 2s infinite;
}

.pulse {
  width: 40px;
  height: 40px;
  background: var(--primary);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(46, 204, 113, 0.8);
  animation: pulse-effect 1.5s infinite;
}

.circle-wrapper.active {
  transform: scale(1.2);
}

/* Animaciones */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes pulse-effect {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
}

p {
  font-size: 1.4rem;
  color: var(--muted);
}

#text-output {
  margin-top: 50px;
}

/* Modal de Comandos */
.commands-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--modal-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.commands-modal h2 {
  margin-top: 10px;
}

.commands-modal ul {
  padding-left: 20px;
  margin: 20px 0;
}

.commands-modal ul li {
  padding-top: 10px;
  text-align: left;
}

.commands-modal button {
  margin-top: 10px;
  margin-right: 20px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Botón de Cierre */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.close-button:hover {
  color: var(--secondary);
}

.camera-container {
  position: absolute;
  left: 20px;
  top: 180px;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-stream {
  width: 100%;
  height: auto;
}

.captured-photo {
  width: 100%;
  height: auto;
}

.upload-button-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.upload-button-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-button-wrapper button, 
.camera-buttons button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.upload-button-wrapper button:hover {
  background-color: #45a049;
}
